<!DOCTYPE html>
<html>
<head>
</head>

<body>
 
<p>Salutation: @Environment.GetEnvironmentVariable("APPSETTING_Salutation")</p>
<p>Salutation: @System.Configuration.ConfigurationManager.AppSettings["Salutation"]</p>
   
</body>
</html>
