<!DOCTYPE html>
<html>
<head>
</head>

<body>
 
@{ var total = 7; }
@{ var myMessage = "Hello World"; }

<!-- Inline expressions -->
<p>The value of your account is: @total </p>
<p>The value of myMessage is: @myMessage</p>
   
</body>
</html>
